wp-content/et-cache/
wp-content/upgrade/
wp-content/updraft/
wp-admin/
wp-includes/
index.php
wp-activate.php
wp-blog-header.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-trackback.php
xmlrpc.php
